<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Girls Who Code</title>
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="style.css">
    <link href="static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
	  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-inverse">
      <div class="container">
        <img src="logo11.png" class="logo">
        <a class="navbar-brand" href="#">Girls Who Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link" href="#start">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a class="nav-link" href="#about">About</a>
            </li>
            <li>
              <a class="nav-link" href="#projects">Projects</a>
            </li>

            <li>
              <a class="nav-link" href="#goals">Goals</a>
            </li>

            <li>

              <a class="nav-link" href="#women_organizations">Women-Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contributors">Contributors</a>
            </li>
            
            <li>
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    
           
   <section id="start" >
      <div class="sp-container">
      <div class="sp-content">
        <div id="particles-js"></div>   
        <h2 class="frame-1">Code</h2>
        <h2 class="frame-2">Develop</h2>
        <h2 class="frame-3">Explore</h2>
        <h2 class="frame-4">Build</h2>
        <h2 class="frame-5">
          <span>Girls</span>
          <span>Who</span>
          <span>Code</span>
        </h2>
        <a class="sp-circle-link" href="https://geekhaven.iiita.ac.in/foss/"><span>By Foss</span></a>
<a href="https://github.com/opencode18/Girls-who-code">
<img class="rib" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

      </div>
    </div>
    </section>

    
    
  <section id="about">
      <div class="jumbotron">
      <p>Open source is the foundation on which the Internet is built. For its continued success, it's critical to incorporate diverse voices and engage people with different experiences, talents, and viewpoints. Otherwise we risk a world of technology created by, and supporting, a non-inclusive and hostile monoculture.</p>
      </div>
  </section>
     
      
        
  <div class="sec" onmouseover="typing()">
      <p id="start1"></p>
  </div>
        
  <section id="projects">
  <div class="jumbotron " >
  <p>Together we can make things better. OS4W aims to be a resource for connecting all women, including women of color and transgender women, to open source projects that are welcoming, inclusive, and appreciative of diversity in their contributors</p>
  </div>
  </section>

<section id="goals">
  <div class="jumbotron1">
  <h1>
     OUR GOALS
  </h1>
  <p>This project is started with an aim to get more woman contributors to Open Source. What we want is more females enchanted with the mysteries of open source and to feel happy and proud writing codes or contributing to an open source project.</p>
  
  <div><h4 class="git">Empower</h4><span class="git1">Empower women with skills needed for professional achievements.</span></div>
  <div><h4 class="git">Action</h4><span class="git1">Our driving force is to push conversation forward and encourage action around gender parity.</span></div>
  <div><h4 class="git">A Role Model</h4><span class="git1">Build a global community where networking and mentorship is valued.</span></div>
  <img class="goal" src="http://codetoinspire.org/wp-content/themes/cti/images/xcti-square.png.pagespeed.ic.W5rpEgVxmi.png">
 </section>


 <section id="women_organizations">
  <div class="jumbotron" >
  <h1>Information About Women-Organizations.  </h1>

  <div class="organization">
  <div class="organization-badge">
    <img class="normal" src="https://www.filepicker.io/api/file/RHJzJuTZQkSwIyQZO226/convert?fit=clip&h=586&w=1120">
    <img class="peculiar" src="static/img/women.png">
  </div>
  <h3> <a href="https://www.womenwhocode.com/">Women Who Code</a></h3>
  <div>
    Women Who Code (WWCode) is a global 501(c)(3) non-profit dedicated to inspiring women to excel in technology careers. They strongly believe in the value of diversity, and envision a world where women are representative as technical executives, founders, venture capitalists, board members, and software engineers.  
  </div>
  </div>


  <div class="organization">
    <div class="organization-badge">
      <img class="normal" src="https://kamcoding.files.wordpress.com/2014/06/railsgirls.png?w=300&h=163">
      <img class="peculiar" src="https://learntocodewith.me/wp-content/themes/remixx/images/logo.svg">
    </div>
    <h3><a href="https://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a></h3>
    <div>
      Rails Girls Summer of Code is a global fellowship program for women and non-binary coders. Students receive a three-month scholarship to work on existing Open Source projects and expand their skill set.
    </div>
  </div>


  <div class="organization">
    <div class="organization-badge">
      <img class="normal" src="http://www.pyladies.com/assets/images/pyladies-bh.png">
      <img class="peculiar" src="https://secure.meetupstatic.com/photos/event/b/a/5/7/600_433127703.jpeg">
    </div>
    <h3><a href="http://www.pyladies.com/">Pyladies</a></h3>
    <div>
       PyLadies is an international mentorship group which focuses on helping more women become active participants in the Python open-source community.
    </div>
  </div>
  </div>
 </section> 

 <section id="events">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h1 id="center-event">Events</h1>
      </div>
      <div class="slide-container col-md-4 col-sm-6 col-xs-12" v-for="index in 6">
        <div class="wrapper " v-if="sortedEvents.length > 0">
          <div class="clash-card "  >
             <a v-bind:href="sortedEvents[index].link" target="_blank">
              <div class="clash-card__image ">
                <img v-bind:src="imgUrl[index-1]" />
              </div>
              <div class="clash-card__level "><i class="fa fa-calendar" aria-hidden="true"></i>
{{ sortedEvents[index].date }}</div><hr>
              <div class="clash-card__unit-name">{{ sortedEvents[index].title }}</div>
              <div class="clash-card__unit-description">
                 <i class="fa fa-map-marker" aria-hidden="true"></i>  {{ sortedEvents[index].location }}
              </div>
            </a>
          </div> <!-- end clash-card barbarian-->
        </div> <!-- end wrapper -->
      </div> <!-- end container -->
    </div>
    <div class="moreEvents"><a href="/Girls-who-code/events" target="_blank"> More Events</a></div>
</section>

<section id="contributors">
  <div class="jumbotron1">
  <h1>Contributors</h1>
  <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-4 contributor" v-for="index in 1">
          <div class="team-member" v-if="sortedContributors.length > 0">
            <div class="team-img">
               <img v-bind:src="sortedContributors[index-1].image"  class="img-responsive"/>
              </div>
           <div class="team-hover">
              <div class="desk">
                <h2>{{ sortedContributors[index-1].name }}</h2>
               </div>
               <div class="s-link">
                  <a v-bind:href="sortedContributors[index-1].github"><i class="fa fa-github"></i></a>
               </div>
             </div>
            </div>

            </div>
          </div>
        </div>
    </div>
</section>

 <section id="contact">
 <div class="jumbotron">
 <h1>Contact Us</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    <img src="https://media.istockphoto.com/photos/see-you-tomorrow-picture-id518855780?k=6&m=518855780&s=612x612&w=0&h=cYxwwaSud3JpqUur5WKsu3L37UYSpMwlhG04twoTNyk=">
                </div>
                <h3 class="title">Contact Person 1</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    <img src="https://media.istockphoto.com/photos/see-you-tomorrow-picture-id518855780?k=6&m=518855780&s=612x612&w=0&h=cYxwwaSud3JpqUur5WKsu3L37UYSpMwlhG04twoTNyk=">
                </div>
                <h3 class="title">Contact Person 2</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    <img src="https://media.istockphoto.com/photos/see-you-tomorrow-picture-id518855780?k=6&m=518855780&s=612x612&w=0&h=cYxwwaSud3JpqUur5WKsu3L37UYSpMwlhG04twoTNyk=">
                </div>
                <h3 class="title">Contact Person 3</h3>
            </div>
        </div>

    </div>
</div>
<p>Feel Free to Contact us for any help</p>
  </div>
 </section>
<footer id="footer" role="contentinfo">
      <div class="container">
      
  
      <div class="row">

        <div class="col-md-4 text-center">

          <ul class= "list-inline" style="float: left; margin-right: 0px ;">

            <li class="list-inline-item"><a href="https://github.com/fossiiita" target="_blank"><img class="img-responsive" id="foss" src="static/img/foss.png"></a></li>
            <li class="list-inline-item"><a href="https://geekhaven.iiita.ac.in/"><img class="img-responsive" id="geek" src="static/img/Geekhaven.png"></a></li>
            <li class="list-inline-item"><a href="https://www.iiita.ac.in/"><img class="img-responsive" id="iiita" src="static/img/iiita.png"></a></li>
          </ul>
        </div>

        <div class="col-md-4 text-center">

          <p>Created with <i class="fa fa-heart" aria-hidden="true"></i> by Girls in Open Source</p>
        </div>


        <div class="col-md-4 text-center">
          <ul class= "list-inline" style="float: right; margin-right: 0px ;">

            <li class="list-inline-item"><a href="https://github.com/fossiiita" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true" style="font-size: 40px"></i></a></li>
            <li class="list-inline-item"><a href="mailto:iit2015113@iiita.ac.in"><i class="fa fa-envelope-square" style="font-size: 40px" ></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/opencodeiiita/"><i class=" fa fa-facebook-square" style="font-size: 40px" ></i></a></li>
          </ul>
        </div>

        </div>
      </div>
    </div>
  </footer>                            

    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <!-- Adding smooth scroll -->
    <script type="text/javascript">
    $(document).ready(function(){
    $('body').scrollspy({target: ".navbar", offset: 50});   
    $("#navbarResponsive a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 700, function(){
        window.location.hash = hash;
      });
    }
  });
});
    $(document).ready(function() {
 
    setTimeout(function(){
        $('body').addClass('loaded');
        $('h1').css('color','#222222');
    }, 3000);
 
});
    var text="Only 1 in 10 Open Source Contributors are women.";
 var i=0;
        var speed=120;
        
    function typing()
      {
       
        if(i<text.length)
        {
          document.getElementById("start1").innerHTML+=text.charAt(i);
          i++;
          setTimeout(typing,speed);

        }
       
      }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="https://unpkg.com/vue"></script>
<script src="./static/js/events.js"></script>
<script src="./static/js/contributors.js"></script>
<script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
<script src="particles.js"></script>
<script src="app.js"></script>

</body>
</html>
